/*graph css*/

.line {
  stroke: #111;
  stroke-width: 0.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*slider css*/
.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

/* gray theta line*/
#theta_hline{
  stroke: gray;
  stoke-with: 1px;
  stroke-dasharray: 3,3;
}

#theta_hline-overlay {
  pointer-events: stroke;
  stroke-width: 30px;
  cursor: ns-resize;
}
